.carousel-item {
    height: 80vh;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.carousel-caption h5 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4rem;
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.carousel-caption p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}