<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Local Links -->
    <link rel="stylesheet" href="../css/style.css">

    <title>Ham9 - Post Detail</title>
</head>

<body>
    <!-- Navbar -start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="navbar-brand-logo"><img src="../images/asset/hamfish_logo_1_transparent.png" alt=""></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 align-self-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-link my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto ">

                <!-- Explore dropdown menu -->
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Malaysia</a>
                        <a class="dropdown-item" href="#">Indonesia</a>
                        <a class="dropdown-item" href="#">Singapore</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Japan</a>
                        <a class="dropdown-item" href="#">Korea</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">USA</a>
                        <a class="dropdown-item" href="#">Europe</a>
                    </div>
                </li>
                <!-- navbar user profile pic dropdown menu -->
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-profile-pic-navbar-div"><img class="rounded-circle"
                                src="../images/avatar4544_0.jpeg" alt=""> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Your favorite post</a>
                        <a class="dropdown-item" href="#">Your trips</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign In/Sign Out</a>
                    </div>
                </li>

                <li class="nav-item align-self-center">
                    <button type="button" class="btn btn-link button-navbar-write my-2 my-sm-0">
                        <a class="nav-link" href="#"><i class="fas fa-edit"></i></a>
                    </button>
                </li>
            </ul>

        </div>
    </nav>
</body>
<div class="card mb-3">
    <img class="card-img-top" src="../images/enjoyment-fun-happiness-2101528.jpg" alt="Card image cap">

</div>

<div class="container">

    <h1 class="card-title">Article Title </h1>
    <p class="article-excerpt-text">amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis
        aliquam
        ut porttitor leo a diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper
        sit amet risus nullam eget felis eget nunc.</p>
    <div>

        <div class="user-profile-pic-navbar-div float-left"><img class="rounded-circle"
                src="../images/avatar4544_0.jpeg" alt=""> </div>
        <div>
            <p class="card-text"><small class="text-muted">Bacon Hamfish </small></p>
            <p class="card-text"><small class="text-muted">11 April 2019</small></p>
        </div>
    </div>

</div>
<div class="container">
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Nunc aliquet bibendum enim facilisis. Varius morbi enim nunc faucibus a pellentesque sit amet.
            Ultricies mi eget mauris pharetra et ultrices neque. Vel pretium lectus quam id leo in vitae turpis massa.
            Enim tortor at auctor urna nunc id cursus. Risus sed vulputate odio ut enim blandit volutpat maecenas
            volutpat. Aliquam faucibus purus in massa tempor nec feugiat nisl. Tortor vitae purus faucibus ornare
            suspendisse. Tincidunt lobortis feugiat vivamus at augue eget. Nunc sed id semper risus in. Aliquet risus
            feugiat in ante metus dictum at tempor. Sem integer vitae justo eget magna.

            Praesent tristique magna sit amet. Id venenatis a condimentum vitae. Vestibulum rhoncus est pellentesque
            elit ullamcorper dignissim cras tincidunt. Orci phasellus egestas tellus rutrum tellus pellentesque. Tellus
            rutrum tellus pellentesque eu tincidunt tortor aliquam. Sapien nec sagittis aliquam malesuada bibendum arcu.
            Amet consectetur adipiscing elit duis. Magna fermentum iaculis eu non diam phasellus vestibulum. Dui
            accumsan sit amet nulla facilisi morbi. Non diam phasellus vestibulum lorem. Massa tincidunt nunc pulvinar
            sapien et.

            Sem fringilla ut morbi tincidunt augue interdum velit euismod. Integer vitae justo eget magna fermentum. Nec
            tincidunt praesent semper feugiat nibh sed. Felis eget nunc lobortis mattis aliquam faucibus. Duis tristique
            sollicitudin nibh sit amet commodo nulla facilisi nullam. Netus et malesuada fames ac turpis egestas integer
            eget. Turpis egestas sed tempus urna et. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh.
            At tellus at urna condimentum mattis pellentesque. Tristique et egestas quis ipsum suspendisse ultrices
            gravida dictum. Turpis egestas sed tempus urna et pharetra. Ultrices in iaculis nunc sed. Est ultricies
            integer quis auctor. Leo urna molestie at elementum eu facilisis sed odio.

            Viverra aliquet eget sit amet tellus cras adipiscing. Non odio euismod lacinia at quis risus sed vulputate
            odio. Scelerisque felis imperdiet proin fermentum leo vel orci. Ut lectus arcu bibendum at varius vel.
            Integer enim neque volutpat ac. Viverra orci sagittis eu volutpat odio facilisis mauris. Sit amet nulla
            facilisi morbi tempus iaculis urna id. Suspendisse potenti nullam ac tortor vitae. Aliquet nibh praesent
            tristique magna sit amet. Eget gravida cum sociis natoque. Dictum at tempor commodo ullamcorper a. Erat
            pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Vitae suscipit tellus mauris a diam
            maecenas sed enim ut. Placerat in egestas erat imperdiet. Placerat orci nulla pellentesque dignissim.
            Habitant morbi tristique senectus et. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices.
            Id porta nibh venenatis cras sed felis eget velit. Risus nec feugiat in fermentum posuere urna. Facilisis
            sed odio morbi quis commodo odio aenean.

            In metus vulputate eu scelerisque felis imperdiet proin. Suspendisse sed nisi lacus sed viverra. Egestas
            pretium aenean pharetra magna. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Risus quis varius
            quam quisque. Eu non diam phasellus vestibulum lorem. Habitant morbi tristique senectus et netus. Viverra
            justo nec ultrices dui sapien eget. Vel quam elementum pulvinar etiam non quam. Odio ut enim blandit
            volutpat maecenas volutpat blandit aliquam. Elit eget gravida cum sociis natoque penatibus et magnis dis.
            Ullamcorper morbi tincidunt ornare massa. Lorem sed risus ultricies tristique nulla aliquet. Eget egestas
            purus viverra accumsan. Sed euismod nisi porta lorem mollis aliquam. Tempor id eu nisl nunc mi ipsum
            faucibus. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Faucibus purus in massa tempor.
            Ultricies mi quis hendrerit dolor magna.

            Etiam sit amet nisl purus in mollis nunc sed id. Vitae tortor condimentum lacinia quis. Feugiat vivamus at
            augue eget arcu. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Et malesuada fames ac
            turpis. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Orci nulla pellentesque dignissim enim sit
            amet venenatis. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Suscipit adipiscing
            bibendum est ultricies integer quis. Scelerisque mauris pellentesque pulvinar pellentesque. Nisi scelerisque
            eu ultrices vitae auctor. Euismod quis viverra nibh cras pulvinar mattis nunc. Urna et pharetra pharetra
            massa massa. Egestas sed tempus urna et pharetra. Duis at consectetur lorem donec massa sapien faucibus et.

            Ac tortor vitae purus faucibus ornare suspendisse sed. Id eu nisl nunc mi. Neque volutpat ac tincidunt
            vitae. Pulvinar pellentesque habitant morbi tristique senectus et netus et. Velit scelerisque in dictum non
            consectetur a. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Imperdiet nulla
            malesuada pellentesque elit eget gravida. Aliquet sagittis id consectetur purus ut faucibus pulvinar.
            Placerat vestibulum lectus mauris ultrices. Consequat nisl vel pretium lectus quam id leo in. Vestibulum
            mattis ullamcorper velit sed. Vitae elementum curabitur vitae nunc sed. Placerat in egestas erat imperdiet
            sed euismod. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Vulputate dignissim
            suspendisse in est ante in nibh. Enim ut tellus elementum sagittis.

            Leo integer malesuada nunc vel risus commodo. Magna sit amet purus gravida quis blandit turpis cursus in.
            Pellentesque id nibh tortor id. Leo urna molestie at elementum eu facilisis sed. Euismod elementum nisi quis
            eleifend. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. At volutpat diam ut venenatis
            tellus in metus. Nunc aliquet bibendum enim facilisis gravida. Laoreet sit amet cursus sit amet dictum sit
            amet justo. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Morbi tristique
            senectus et netus.

            Vel turpis nunc eget lorem dolor sed. Quam lacus suspendisse faucibus interdum. Vestibulum rhoncus est
            pellentesque elit ullamcorper. Tincidunt dui ut ornare lectus. In metus vulputate eu scelerisque felis
            imperdiet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Auctor eu augue ut lectus arcu
            bibendum at varius vel. Praesent semper feugiat nibh sed pulvinar. Ac felis donec et odio pellentesque diam.
            Congue eu consequat ac felis donec et odio. In eu mi bibendum neque egestas congue quisque egestas. Semper
            feugiat nibh sed pulvinar proin gravida hendrerit. Imperdiet sed euismod nisi porta lorem mollis aliquam. In
            nisl nisi scelerisque eu ultrices vitae auctor. Ut etiam sit amet nisl purus in mollis nunc. Odio euismod
            lacinia at quis. Ipsum a arcu cursus vitae congue mauris rhoncus. Semper feugiat nibh sed pulvinar proin
            gravida hendrerit lectus a. Tempor nec feugiat nisl pretium fusce id velit ut. Magna fermentum iaculis eu
            non diam phasellus vestibulum.

            Dolor sed viverra ipsum nunc aliquet. Non arcu risus quis varius quam quisque id diam vel. Gravida dictum
            fusce ut placerat orci nulla. Pretium vulputate sapien nec sagittis aliquam malesuada. Magna fermentum
            iaculis eu non diam phasellus. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Et netus et
            malesuada fames ac. Arcu non odio euismod lacinia. Imperdiet dui accumsan sit amet. Non nisi est sit amet
            facilisis magna. Ac placerat vestibulum lectus mauris ultrices.

            Sed faucibus turpis in eu mi. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Non
            enim praesent elementum facilisis leo vel. Risus feugiat in ante metus dictum. Accumsan sit amet nulla
            facilisi morbi tempus iaculis urna. Consectetur purus ut faucibus pulvinar elementum integer enim neque
            volutpat. Justo nec ultrices dui sapien eget. Sagittis aliquam malesuada bibendum arcu. In pellentesque
            massa placerat duis. Vitae proin sagittis nisl rhoncus. Quisque egestas diam in arcu cursus. Feugiat in
            fermentum posuere urna nec tincidunt praesent semper. Imperdiet dui accumsan sit amet nulla facilisi morbi.
            Fames ac turpis egestas maecenas pharetra convallis.

            Lorem sed risus ultricies tristique nulla. Lectus sit amet est placerat in egestas erat. Et netus et
            malesuada fames ac turpis. Morbi tincidunt ornare massa eget egestas. Viverra tellus in hac habitasse platea
            dictumst vestibulum rhoncus. Eu sem integer vitae justo eget magna fermentum iaculis. Ut consequat semper
            viverra nam. Velit euismod in pellentesque massa placerat. Donec massa sapien faucibus et molestie ac.
            Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Consectetur lorem donec massa sapien
            faucibus et molestie ac. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Quam nulla
            porttitor massa id neque aliquam vestibulum morbi blandit. Neque sodales ut etiam sit amet nisl purus in.
            Sapien et ligula ullamcorper malesuada proin libero nunc.

            Nibh nisl condimentum id venenatis a condimentum vitae. Feugiat nisl pretium fusce id velit ut. Blandit
            turpis cursus in hac habitasse. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. In
            dictum non consectetur a erat nam at lectus urna. Odio aenean sed adipiscing diam donec adipiscing. Et netus
            et malesuada fames. Non odio euismod lacinia at quis risus sed vulputate odio. Maecenas pharetra convallis
            posuere morbi leo urna molestie. In est ante in nibh mauris cursus mattis molestie. Dictum non consectetur a
            erat nam at. Massa id neque aliquam vestibulum morbi blandit cursus risus. In mollis nunc sed id semper. Vel
            turpis nunc eget lorem dolor sed. In iaculis nunc sed augue lacus viverra vitae. Tristique senectus et netus
            et malesuada fames. Eros in cursus turpis massa. Facilisis magna etiam tempor orci. Magna fermentum iaculis
            eu non.

            Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Elementum pulvinar etiam non quam.
            Tincidunt dui ut ornare lectus sit amet est. Ultricies mi quis hendrerit dolor. Nullam non nisi est sit.
            Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Id diam vel quam elementum pulvinar
            etiam non. Sagittis orci a scelerisque purus. Massa vitae tortor condimentum lacinia quis. Feugiat nibh sed
            pulvinar proin gravida hendrerit. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Cursus euismod
            quis viverra nibh cras pulvinar mattis nunc sed. Risus viverra adipiscing at in tellus integer feugiat
            scelerisque varius. Tortor at auctor urna nunc id cursus metus aliquam. Et netus et malesuada fames ac
            turpis egestas maecenas. Leo in vitae turpis massa sed elementum tempus. Eu nisl nunc mi ipsum faucibus
            vitae.

            Et netus et malesuada fames. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Malesuada fames ac
            turpis egestas sed tempus urna et. Pellentesque nec nam aliquam sem et tortor consequat. Odio ut enim
            blandit volutpat maecenas volutpat blandit. Eu ultrices vitae auctor eu augue ut. Vitae purus faucibus
            ornare suspendisse. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Viverra accumsan
            in nisl nisi scelerisque eu ultrices vitae auctor. Aliquet eget sit amet tellus cras adipiscing. Ultrices
            dui sapien eget mi. Tellus orci ac auctor augue mauris augue neque gravida. Varius morbi enim nunc faucibus
            a pellentesque sit. Metus aliquam eleifend mi in. Turpis in eu mi bibendum neque egestas congue. Nulla
            pellentesque dignissim enim sit amet venenatis urna cursus.

            Erat imperdiet sed euismod nisi porta. Pellentesque diam volutpat commodo sed egestas egestas fringilla.
            Sapien nec sagittis aliquam malesuada bibendum. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
            Maecenas volutpat blandit aliquam etiam erat. Euismod quis viverra nibh cras pulvinar. Tristique nulla
            aliquet enim tortor at auctor. Aenean sed adipiscing diam donec. Placerat orci nulla pellentesque dignissim
            enim sit amet venenatis. Eu facilisis sed odio morbi. Ullamcorper eget nulla facilisi etiam. Ipsum dolor sit
            amet consectetur adipiscing elit ut aliquam. At risus viverra adipiscing at in tellus integer feugiat
            scelerisque. Tellus elementum sagittis vitae et.

            Interdum velit laoreet id donec ultrices tincidunt. Augue interdum velit euismod in pellentesque. Risus
            pretium quam vulputate dignissim suspendisse in. Ullamcorper morbi tincidunt ornare massa eget egestas purus
            viverra accumsan. Sit amet consectetur adipiscing elit duis. Nulla malesuada pellentesque elit eget gravida
            cum. Pharetra massa massa ultricies mi quis. Ac tincidunt vitae semper quis lectus nulla at. Odio eu feugiat
            pretium nibh ipsum consequat nisl vel pretium. Eu facilisis sed odio morbi quis commodo. Sem et tortor
            consequat id porta nibh venenatis cras sed. Bibendum neque egestas congue quisque egestas diam. Pellentesque
            nec nam aliquam sem et tortor.

            Consequat id porta nibh venenatis cras sed. Egestas quis ipsum suspendisse ultrices gravida dictum. Enim
            tortor at auctor urna nunc id cursus metus aliquam. Cursus eget nunc scelerisque viverra mauris. Commodo
            quis imperdiet massa tincidunt nunc pulvinar. Proin libero nunc consequat interdum varius sit amet. Aliquam
            ut porttitor leo a. Dui accumsan sit amet nulla facilisi morbi tempus. Nisi lacus sed viverra tellus in hac
            habitasse platea dictumst. Nec sagittis aliquam malesuada bibendum arcu vitae. Dolor magna eget est lorem.

            Eget est lorem ipsum dolor sit amet consectetur adipiscing. Risus pretium quam vulputate dignissim. Tellus
            integer feugiat scelerisque varius morbi enim nunc. Egestas tellus rutrum tellus pellentesque eu tincidunt
            tortor. Interdum varius sit amet mattis vulputate enim nulla. Ullamcorper a lacus vestibulum sed arcu non
            odio. Lectus nulla at volutpat diam ut venenatis tellus. In iaculis nunc sed augue lacus viverra. Tellus
            cras adipiscing enim eu turpis egestas. Ac odio tempor orci dapibus ultrices in iaculis nunc. Lacus viverra
            vitae congue eu consequat ac. Lacinia at quis risus sed vulputate odio ut enim blandit. Elementum sagittis
            vitae et leo duis ut diam quam. At in tellus integer feugiat scelerisque varius morbi enim.

            In iaculis nunc sed augue lacus. Nunc non blandit massa enim nec dui. Mauris vitae ultricies leo integer
            malesuada nunc vel risus commodo. Lacus laoreet non curabitur gravida arcu ac. Diam maecenas sed enim ut sem
            viverra aliquet. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Aliquet nec ullamcorper sit amet
            risus nullam eget felis eget. Ipsum consequat nisl vel pretium lectus quam. Consequat nisl vel pretium
            lectus. Non consectetur a erat nam at lectus. Elementum curabitur vitae nunc sed velit dignissim sodales ut.
            Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Accumsan in nisl nisi scelerisque eu
            ultrices. Quis varius quam quisque id diam. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar
            sapien et. Integer enim neque volutpat ac tincidunt vitae. Vitae proin sagittis nisl rhoncus mattis. Vitae
            semper quis lectus nulla at volutpat diam. Quam id leo in vitae turpis.

            Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel. Et tortor at risus viverra adipiscing at in. Sit
            amet mattis vulputate enim nulla aliquet porttitor. Sagittis nisl rhoncus mattis rhoncus urna neque viverra
            justo nec. Quisque egestas diam in arcu cursus euismod quis. Est ullamcorper eget nulla facilisi etiam.
            Felis bibendum ut tristique et. Vivamus at augue eget arcu dictum. Odio pellentesque diam volutpat commodo
            sed. Id nibh tortor id aliquet lectus proin. Diam in arcu cursus euismod quis viverra nibh cras. Cursus
            vitae congue mauris rhoncus aenean. Sit amet consectetur adipiscing elit. Lectus proin nibh nisl condimentum
            id venenatis. Dignissim suspendisse in est ante in nibh mauris cursus. Nam libero justo laoreet sit amet
            cursus sit amet dictum.

            Consequat id porta nibh venenatis. Tincidunt dui ut ornare lectus sit amet est. Sed adipiscing diam donec
            adipiscing tristique. Ipsum a arcu cursus vitae. Proin libero nunc consequat interdum varius sit amet. Lorem
            dolor sed viverra ipsum nunc aliquet bibendum enim. Ultrices eros in cursus turpis. Nunc scelerisque viverra
            mauris in aliquam sem fringilla ut morbi. Euismod in pellentesque massa placerat duis ultricies lacus.
            Posuere ac ut consequat semper. Massa sed elementum tempus egestas sed sed risus pretium. Nisl vel pretium
            lectus quam. Interdum velit laoreet id donec. Eget mauris pharetra et ultrices neque ornare aenean euismod.
            Vestibulum morbi blandit cursus risus at ultrices. Elit scelerisque mauris pellentesque pulvinar
            pellentesque habitant morbi. Pellentesque nec nam aliquam sem et tortor consequat id. Bibendum neque egestas
            congue quisque egestas diam in arcu. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Nibh
            ipsum consequat nisl vel pretium.

            Cursus eget nunc scelerisque viverra. Non tellus orci ac auctor augue mauris. Tortor id aliquet lectus proin
            nibh nisl condimentum id. Aliquam id diam maecenas ultricies. Dolor sit amet consectetur adipiscing elit
            pellentesque habitant morbi. Non sodales neque sodales ut etiam. Viverra tellus in hac habitasse platea
            dictumst vestibulum. Turpis egestas sed tempus urna et pharetra pharetra massa massa. Sed viverra tellus in
            hac habitasse platea dictumst vestibulum rhoncus. Arcu ac tortor dignissim convallis. Quisque egestas diam
            in arcu cursus euismod. Eu lobortis elementum nibh tellus molestie nunc. Neque convallis a cras semper
            auctor neque. Arcu cursus euismod quis viverra. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae purus.

            Elit scelerisque mauris pellentesque pulvinar. Molestie at elementum eu facilisis sed odio. Interdum
            consectetur libero id faucibus nisl tincidunt eget. Magna eget est lorem ipsum dolor sit amet consectetur
            adipiscing. Pellentesque adipiscing commodo elit at imperdiet dui. In tellus integer feugiat scelerisque
            varius morbi enim nunc faucibus. Fermentum leo vel orci porta non pulvinar. Eros donec ac odio tempor orci.
            Amet purus gravida quis blandit turpis cursus in. Sagittis id consectetur purus ut faucibus pulvinar
            elementum integer enim. Tellus cras adipiscing enim eu turpis egestas pretium. Urna molestie at elementum eu
            facilisis sed odio morbi. Egestas integer eget aliquet nibh praesent tristique magna. Consectetur purus ut
            faucibus pulvinar elementum integer enim. Sed arcu non odio euismod lacinia.

            Ultrices in iaculis nunc sed augue lacus viverra. Nulla facilisi nullam vehicula ipsum a arcu cursus. Sed
            viverra tellus in hac habitasse. Interdum velit euismod in pellentesque massa placerat duis ultricies. At
            consectetur lorem donec massa sapien faucibus. Curabitur gravida arcu ac tortor dignissim convallis aenean.
            Augue mauris augue neque gravida in fermentum. Vulputate ut pharetra sit amet aliquam id. Neque vitae tempus
            quam pellentesque nec. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Ut placerat orci
            nulla pellentesque dignissim. Amet purus gravida quis blandit turpis cursus. Metus aliquam eleifend mi in.

            Eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Volutpat diam ut venenatis tellus in
            metus vulputate eu. Bibendum enim facilisis gravida neque convallis a. Donec pretium vulputate sapien nec.
            Augue eget arcu dictum varius duis at consectetur. Amet nisl purus in mollis nunc sed id. Ipsum dolor sit
            amet consectetur. Pharetra massa massa ultricies mi. Dignissim convallis aenean et tortor at risus viverra
            adipiscing. Posuere morbi leo urna molestie at elementum. Ut pharetra sit amet aliquam id diam maecenas.
            Consequat nisl vel pretium lectus quam id leo in. Proin sed libero enim sed. Nisl vel pretium lectus quam id
            leo. Interdum velit laoreet id donec. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Nec
            ultrices dui sapien eget mi proin sed. Id neque aliquam vestibulum morbi. Nisi quis eleifend quam adipiscing
            vitae. Nunc id cursus metus aliquam eleifend mi.

            Nunc mi ipsum faucibus vitae aliquet nec. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Euismod in
            pellentesque massa placerat duis ultricies lacus sed turpis. Nec nam aliquam sem et tortor. Ornare arcu odio
            ut sem nulla pharetra diam sit. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Aenean et
            tortor at risus viverra adipiscing at in. Non sodales neque sodales ut etiam. Massa id neque aliquam
            vestibulum. Arcu cursus euismod quis viverra nibh. Interdum velit laoreet id donec ultrices tincidunt. Lorem
            ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Purus in massa tempor nec feugiat
            nisl pretium. Porta nibh venenatis cras sed felis eget velit. Scelerisque felis imperdiet proin fermentum
            leo. Est placerat in egestas erat imperdiet sed euismod nisi porta. Et malesuada fames ac turpis egestas
            maecenas. Risus in hendrerit gravida rutrum quisque.

            Massa massa ultricies mi quis hendrerit dolor. Faucibus vitae aliquet nec ullamcorper sit amet risus. Donec
            massa sapien faucibus et molestie ac feugiat. Gravida in fermentum et sollicitudin ac orci phasellus
            egestas. Pellentesque adipiscing commodo elit at imperdiet dui accumsan. Vulputate ut pharetra sit amet
            aliquam id diam maecenas ultricies. Tincidunt tortor aliquam nulla facilisi. Vulputate mi sit amet mauris
            commodo quis imperdiet massa. Nulla porttitor massa id neque. Sit amet commodo nulla facilisi nullam
            vehicula. Enim nulla aliquet porttitor lacus luctus accumsan.

            Feugiat in ante metus dictum at. In pellentesque massa placerat duis ultricies. Commodo ullamcorper a lacus
            vestibulum sed arcu. At erat pellentesque adipiscing commodo elit at imperdiet. Sed tempus urna et pharetra
            pharetra massa massa ultricies. Id semper risus in hendrerit. Adipiscing diam donec adipiscing tristique
            risus nec. Pharetra magna ac placerat vestibulum lectus mauris. Amet nisl purus in mollis nunc sed id. Nunc
            scelerisque viverra mauris in aliquam sem fringilla. Mi sit amet mauris commodo. Volutpat consequat mauris
            nunc congue nisi vitae suscipit. Dui vivamus arcu felis bibendum ut tristique et egestas. Sit amet nisl
            purus in mollis nunc sed.

            Amet aliquam id diam maecenas ultricies mi. Sit amet luctus venenatis lectus magna. Justo donec enim diam
            vulputate ut pharetra sit. Dui accumsan sit amet nulla facilisi morbi. Dolor sit amet consectetur adipiscing
            elit pellentesque habitant morbi. Ultricies tristique nulla aliquet enim tortor at auctor urna. Pellentesque
            habitant morbi tristique senectus. Nunc vel risus commodo viverra maecenas accumsan lacus. In cursus turpis
            massa tincidunt. In nulla posuere sollicitudin aliquam ultrices. Eget duis at tellus at urna condimentum
            mattis pellentesque id. Consequat ac felis donec et odio pellentesque diam volutpat. Neque laoreet
            suspendisse interdum consectetur libero id faucibus. Feugiat in fermentum posuere urna. Ullamcorper eget
            nulla facilisi etiam dignissim. Imperdiet nulla malesuada pellentesque elit. Ac tincidunt vitae semper quis
            lectus nulla at volutpat diam. Lorem ipsum dolor sit amet. Nisl nisi scelerisque eu ultrices vitae auctor eu
            augue ut. Dolor magna eget est lorem ipsum dolor sit.

            Sed faucibus turpis in eu mi bibendum neque. Nunc faucibus a pellentesque sit amet porttitor eget dolor.
            Vulputate sapien nec sagittis aliquam malesuada. Et tortor consequat id porta nibh. Cursus risus at ultrices
            mi tempus. Mi quis hendrerit dolor magna eget est lorem ipsum. Et netus et malesuada fames ac turpis
            egestas. Molestie a iaculis at erat pellentesque adipiscing commodo. Orci a scelerisque purus semper eget
            duis at. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis.

            Auctor elit sed vulputate mi sit amet mauris commodo quis. Malesuada proin libero nunc consequat interdum
            varius sit amet mattis. Id venenatis a condimentum vitae sapien. Dolor magna eget est lorem ipsum dolor sit
            amet consectetur. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Et pharetra
            pharetra massa massa ultricies mi quis hendrerit dolor. Dictumst quisque sagittis purus sit amet volutpat
            consequat mauris nunc. Ipsum dolor sit amet consectetur adipiscing elit duis. Est lorem ipsum dolor sit amet
            consectetur adipiscing elit pellentesque. Porttitor lacus luctus accumsan tortor posuere ac ut. Massa enim
            nec dui nunc mattis. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Sed enim ut sem viverra
            aliquet eget sit amet tellus. Cras tincidunt lobortis feugiat vivamus. Ullamcorper malesuada proin libero
            nunc consequat interdum varius. Amet massa vitae tortor condimentum lacinia. Commodo nulla facilisi nullam
            vehicula ipsum a arcu cursus vitae.

            Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Sit amet aliquam id diam. Dui sapien
            eget mi proin sed libero enim sed faucibus. Phasellus vestibulum lorem sed risus ultricies tristique nulla
            aliquet. Sed vulputate odio ut enim. Adipiscing vitae proin sagittis nisl rhoncus mattis. Magna eget est
            lorem ipsum dolor sit amet. Duis at consectetur lorem donec massa sapien faucibus. Dolor sit amet
            consectetur adipiscing elit ut. In nibh mauris cursus mattis. Porttitor lacus luctus accumsan tortor posuere
            ac ut. Praesent semper feugiat nibh sed pulvinar. Elit scelerisque mauris pellentesque pulvinar
            pellentesque. Non sodales neque sodales ut. Eu facilisis sed odio morbi quis commodo odio aenean sed.
            Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Convallis posuere morbi leo urna
            molestie at elementum eu. Velit scelerisque in dictum non consectetur. Maecenas pharetra convallis posuere
            morbi leo urna molestie at. Sed viverra tellus in hac habitasse.

            Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Ipsum faucibus vitae aliquet nec
            ullamcorper sit amet risus. Risus feugiat in ante metus dictum at tempor. At volutpat diam ut venenatis
            tellus. Mattis enim ut tellus elementum sagittis vitae et leo duis. Proin sagittis nisl rhoncus mattis
            rhoncus urna neque. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Vitae ultricies
            leo integer malesuada nunc vel risus commodo. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus
            aenean. Ullamcorper dignissim cras tincidunt lobortis. Morbi leo urna molestie at elementum.

            Nibh tortor id aliquet lectus proin nibh. Semper viverra nam libero justo laoreet sit amet. Vitae sapien
            pellentesque habitant morbi tristique senectus. Eget duis at tellus at urna condimentum mattis pellentesque
            id. Porttitor leo a diam sollicitudin tempor id eu nisl. Sit amet facilisis magna etiam tempor orci eu
            lobortis. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Cras pulvinar mattis nunc
            sed blandit libero volutpat sed. Tellus elementum sagittis vitae et leo duis ut diam. At erat pellentesque
            adipiscing commodo elit at imperdiet. Elit pellentesque habitant morbi tristique senectus et netus. Eget
            duis at tellus at urna condimentum mattis. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Odio
            eu feugiat pretium nibh ipsum consequat. Pretium vulputate sapien nec sagittis aliquam malesuada. Enim nunc
            faucibus a pellentesque sit amet porttitor. Massa massa ultricies mi quis hendrerit dolor. Volutpat est
            velit egestas dui.

            Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Etiam dignissim diam quis enim lobortis.
            Placerat in egestas erat imperdiet sed. Viverra maecenas accumsan lacus vel facilisis volutpat est. Mauris
            in aliquam sem fringilla ut morbi. Pellentesque id nibh tortor id aliquet lectus proin nibh nisl. Diam
            maecenas sed enim ut sem viverra aliquet eget sit. Ac turpis egestas integer eget aliquet nibh praesent
            tristique magna. Neque gravida in fermentum et sollicitudin ac orci. Elementum nibh tellus molestie nunc non
            blandit massa. Accumsan tortor posuere ac ut. Nullam ac tortor vitae purus. Pharetra diam sit amet nisl
            suscipit.

            Eget mi proin sed libero enim sed faucibus turpis. Ac turpis egestas integer eget aliquet nibh praesent
            tristique magna. Volutpat est velit egestas dui id ornare arcu odio ut. At quis risus sed vulputate odio ut.
            Integer feugiat scelerisque varius morbi enim. Facilisis volutpat est velit egestas dui id ornare arcu odio.
            Urna nunc id cursus metus aliquam. Purus in massa tempor nec feugiat nisl pretium. Consequat nisl vel
            pretium lectus quam id leo in vitae. Id volutpat lacus laoreet non curabitur gravida arcu. Massa tincidunt
            nunc pulvinar sapien et ligula ullamcorper malesuada. Tempor nec feugiat nisl pretium fusce id velit.
            Condimentum lacinia quis vel eros. Condimentum lacinia quis vel eros donec ac. Bibendum at varius vel
            pharetra vel turpis. Egestas maecenas pharetra convallis posuere morbi leo urna. Commodo ullamcorper a lacus
            vestibulum sed arcu.

            Feugiat in fermentum posuere urna nec tincidunt praesent. Vestibulum rhoncus est pellentesque elit
            ullamcorper dignissim cras. Vitae et leo duis ut diam. Gravida neque convallis a cras semper auctor neque.
            Donec massa sapien faucibus et molestie ac feugiat sed. Ornare aenean euismod elementum nisi. Quisque non
            tellus orci ac auctor augue mauris augue neque. Sapien pellentesque habitant morbi tristique senectus et
            netus et malesuada. Maecenas accumsan lacus vel facilisis volutpat est. Luctus accumsan tortor posuere ac ut
            consequat semper. Molestie a iaculis at erat pellentesque adipiscing. Gravida quis blandit turpis cursus in
            hac. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est.

            Purus in massa tempor nec feugiat. Elementum sagittis vitae et leo duis ut diam quam nulla. Vulputate ut
            pharetra sit amet aliquam. Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Aliquet nec
            ullamcorper sit amet risus nullam. Quisque egestas diam in arcu cursus euismod quis viverra. Id venenatis a
            condimentum vitae sapien pellentesque habitant. Nullam vehicula ipsum a arcu cursus vitae. Tincidunt arcu
            non sodales neque sodales. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Tellus orci
            ac auctor augue mauris augue. Netus et malesuada fames ac turpis egestas integer. Id interdum velit laoreet
            id donec ultrices. Cum sociis natoque penatibus et magnis dis. Mattis nunc sed blandit libero volutpat sed
            cras ornare arcu. Sagittis id consectetur purus ut faucibus pulvinar. Nec dui nunc mattis enim ut. Eget
            egestas purus viverra accumsan in nisl.

            Tellus cras adipiscing enim eu turpis egestas pretium. Ipsum nunc aliquet bibendum enim facilisis gravida.
            Nibh praesent tristique magna sit amet purus gravida. Praesent semper feugiat nibh sed pulvinar proin. Donec
            ultrices tincidunt arcu non sodales neque. Sem fringilla ut morbi tincidunt. Euismod lacinia at quis risus
            sed vulputate. Vel eros donec ac odio tempor orci dapibus. Egestas fringilla phasellus faucibus scelerisque
            eleifend donec. Pharetra convallis posuere morbi leo.</p>
    </article>

</div>

</html>